.About-container{
display:flex;
flex-direction:row;

background-color:#2B1B17;
color:#ffffff;


overflow-x: hidden;
min-height: 100vh;
}
img{
position:cover}
.sub-conatainer{
text-align: left;
margin-left:10px}

