.top-conatiner{

display:flex;
background-color:black;
flex-direction:column;
text-align: center;

justify-content:center;
   background-size:cover; 
    background-repeat:no-repeat;
font-family: "Playfair Display", serif;   /* Grace font */
text-shadow: 0px 0px 8px #d49d37e1;
  font-weight: 500;
  color:#C9A46C;

 
}
.logo{
  width:220px;      /* adjust */
  margin-bottom:-30px;

    /* IMPORTANT */
}
button{display:inline;}
.logo-container{
display:center;
text-align:center;
justify-content: center;}

.Sowch_name_c{
background-color: black;}
button{
color:black;
background-color:#F2C66D;}